:root { 
--gray_501:#9f9f9f; 
--gray_301:#e5ddd9; 
--gray_500:#b5a9a2; 
--gray_400_34:#ccbfb433; 
--lime_100_3f:#f3e4ce3f; 
--yellow_900:#e36d29; 
--gray_900:#372c26; 
--gray_400_33:#ccbcb133; 
--white_A700:#ffffff; 
--gray_300:#e6ddd8; 
--gray_100:#f6f2ef; 
}